{% extends 'base.html.twig' %}

{% block title %}Hello MoviesController!{% endblock %}

{% block body %}


<section class="content-header" style="margin-top: 100px">

    <div class="container">
        <div style="float: right">
            <button class="btn btn-danger" onclick="shareMovie({{ movie.id }})"  >Share</button>
        </div>

        <h1>Details Films</h1>
        <div class="row">
            <div class="col-md-6">
                <p>Id</p>
            </div>
            <div class="col-md-6">
                <p>{{ movie.idMovies }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>adult</p>
            </div>
            <div class="col-md-6">
                {% if movie.adult %}
                <p>True</p>
                {% else %}
                <p>False</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>backdropPath</p>
            </div>
            <div class="col-md-6">
                <img src="{{  domain_image }}{{ movie.backdropPath }}">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>genreIds</p>
            </div>
            <div class="col-md-6">
                {% for genreId in movie.genreIds %}
                    <p>{{ genreId }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>originalLanguage</p>
            </div>
            <div class="col-md-6">
                <p>{{ movie.originalLanguage }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>originalTitle</p>
            </div>
            <div class="col-md-6">
                <p>{{ movie.originalTitle }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>overview</p>
            </div>
            <div class="col-md-6">
                <p>{{ movie.overview }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>popularity</p>
            </div>
            <div class="col-md-6">
                <p>{{ movie.popularity }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>posterPath</p>
            </div>
            <div class="col-md-6">
                <img src="{{  domain_image }}{{ movie.posterPath }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>releaseDate</p>
            </div>
            <div class="col-md-6">
                <p>{{ movie.releaseDate | date('Y-m-d') }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>title</p>
            </div>
            <div class="col-md-6">
                <p>{{ movie.title }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>video</p>
            </div>
            <div class="col-md-6">
                {% if movie.video %}
                    <p>True</p>
                {% else %}
                    <p>False</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>voteAverage</p>
            </div>
            <div class="col-md-6">
                <p>{{ movie.voteAverage }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>voteCount</p>
            </div>
            <div class="col-md-6">
                <p>{{ movie.voteCount }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>nbShare</p>
            </div>
            <div class="col-md-6">
                <p>{{ movie.nbShare }}</p>
            </div>
        </div>
    </div>

</section>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <section class="content-header">
        <div class="container">

            <div class="container-fluid">
                <h1>Liste des Acteurs</h1>
                <div class="card" style="padding: 10px">
                    <div class="card-body table-responsive p-0">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Photo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for actor in actors %}
                                <tr>
                                    <td>{{ actor.name }}</td>
                                    <td><img src="{{  domain_image }}{{ actor.profile_path }}"></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="9">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Nom</th>
                                <th>Photo</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });

    </script>
{% endblock %}
{% block javascripts %}
 {{ parent() }}
    <script>
        function shareMovie(id){
            $.ajax({
                method: "GET",
                url: "http://localhost:8000/api/share/movies/"+id,
                dataType : "json",
            })
        }
    </script>
{% endblock %}