{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}


  <div class="offset-1">
      <a class="btn btn-primary" href="{{ path('article_new') }}" style="margin-bottom: 20px">Ajouter Article</a>
      <table class="table col-md-10  ">
          <thead>
          <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Date</th>
              <th>Text</th>
              <th>Photo</th>
              <th>actions</th>
          </tr>
          </thead>
          <tbody>
          {% for article in articles %}
              <tr>
                  <td>{{ article.id }}</td>
                  <td>{{ article.title }}</td>
                  <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                  <td>{{ article.text }}</td>
                  <td><img src="{{ '/images/article/' ~ article.image }}" width="100px" height="100px"></td>
                  <td>
                      <a href="{{ path('article_show', {'id': article.id}) }}">continue reading</a>
                      <a class="btn btn-success" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                      <a href="" data-toggle="modal" data-target="#exampleModal"
                         onclick="delete_article({{ article.id }})" class="btn btn-sm btn-danger ">
                         supprimer
                      </a>

                  </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="6">no records found</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'Confirmation' |trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you  want to delete!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'Cancel' |trans }}</button>
                    <a type="button" class="btn btn-danger" id="myAnchor">{{ 'Delete' |trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <script>

        function delete_article(id) {
            document.getElementById("myAnchor").href = "/admin/delete/" + id;
        }
    </script>


{% endblock %}
